:root {
    /* Primary */
    --clr-primary-soft-red: hsl(10, 79%, 65%);
    --clr-primary-cyan: hsl(186, 34%, 60%);

    /* Neutral */
    --clr-neutral-dark-brown: hsl(25, 47%, 15%);
    --clr-neutral-medium-brown: hsl(28, 10%, 53%);
    --clr-neutral-cream: hsl(27, 66%, 92%);
    --clr-neutral-pale-orange: hsl(33, 100%, 98%);

    --ff-primary: 'DM Sans', sans-serif;
    --fs-base: 1.125rem;
    --fw-regular: 400;
    --fw-bold: 700;
}

body {
    min-height: 100vh;
    background-color: var(--clr-neutral-cream);
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    display: grid;
    place-content: center;
    padding: 0 1rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.balance {
    background-color: var(--clr-primary-soft-red);
    color: var(--clr-neutral-pale-orange);
    padding: 1.2rem 1.5rem 1.2rem 1.2rem;
    border-radius: 0.5rem;
}

.balance-title {
    font-size: 0.925rem;
}

.balance-data {
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
}

.logo {
    width: 3.5rem;
}

@media (min-width: 800px) {
    main {
        padding: 2rem 0;
        gap: 1.5rem;
    }

    .balance {
        border-radius: 1rem;
    }

    .balance-title {
        font-size: 1.1rem;
    }

    .balance-data {
        font-size: 2rem;
    }

    .logo {
        width: 4rem;
    }
}

.spending {
    background-color: var(--clr-neutral-pale-orange);
    color: var(--clr-neutral-dark-brown);
    padding: 1.25rem;
    border-radius: 0.5rem;
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    gap: 1.5rem;
}

.spending-title {
    font-size: 1.5rem;
    /* margin-bottom: 2rem; */
}

.spending-chart {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.75rem;
    min-height: 13rem;
}

.day {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    position: relative;
}

.spending-amount {
    display: none;
    background-color: var(--clr-neutral-dark-brown);
    color: var(--clr-neutral-pale-orange);
    font-size: 1rem;
    font-weight: var(--fw-bold);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    position: absolute;
    top: 0;
    left: -25%;
}

.spending-bar {
    background-color: var(--clr-primary-soft-red);
    height: 100%;
    width: 2rem;
    border-radius: 4px;
}

.spending-bar:hover {
    opacity: 0.7;
    cursor: pointer;
}

.spending-day {
    color: var(--clr-neutral-medium-brown);
    text-align: center;
    font-size: 0.7rem;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--clr-neutral-cream);
    width: 100%;
    margin: 0;
}

@media (min-width: 800px) {
    .spending {
        border-radius: 1rem;
        padding: 2rem 2.5rem;
    }

    .spending-title {
        font-size: 2rem;
    }

    .spending-chart {
        gap: 1.2rem;
        min-height: 14.5rem;
    }

    .spending-bar {
        width: 3rem;
    }

    .day:hover .spending-amount {
        display: grid;
    }

    .spending-day {
        font-size: 1rem;
    }
}

.summary-title {
    color: var(--clr-neutral-medium-brown);
    font-size: 0.95rem;
}

.total-month-data {
    font-size: 1.9rem;
    font-weight: var(--fw-bold);
}

.spending-percentage-data {
    text-align: right;
    font-size: 0.9rem;
    font-weight: var(--fw-bold);
}

.spending-percentage {
    align-self: flex-end;
}

@media (min-width: 800px) {
    .summary-title {
        font-size: 1.125rem;
    }

    .total-month-data {
        font-size: 3rem;
    }

    .spending-percentage-data {
        font-size: 1.2rem;
    }
}

/* Ulitilities */
.flex-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}