:root {
    /* Primary */
    --clr-primary-soft-red: hsl(10, 79%, 65%);
    --clr-primary-cyan: hsl(186, 34%, 60%);

    /* Neutral */
    --clr-neutral-dark-brown: hsl(25, 47%, 15%);
    --clr-neutral-medium-brown: hsl(28, 10%, 53%);
    --clr-neutral-cream: hsl(27, 66%, 92%);
    --clr-neutral-pale-orange: hsl(33, 100%, 98%);

    --ff-primary: 'DM Sans', sans-serif;
    --fs-base: 1.125rem;
    --fw-regular: 400;
    --fw-bold: 700;
}

body {
    min-height: 100vh;
    background-color: var(--clr-neutral-cream);
    font-family: var(--ff-primary);
    font-size: var(--fs-base);
    display: grid;
    place-content: center;
}